footer {
    position: relative;
/*     width: 1900px; */
    display: flex;
    background: white;
    border-top : 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;
    padding: 1.5vmin 25vmin;
}

.footer-text {
    position: relative;
    font-size: 1.5em;
}

.footer-logo {
    position: absolute;
    width: 35px;
    height: 35px;
}

.footer-title {
    height: 100%;
    width: 700px;
    padding: 10px 0;
}

.footer-content {
    position: relative;
}

.footer-content-detail {
    display: block;
    padding: 10px 0 10px 250px;
}
.span{
	display: inline-block;
}

.detail-title {
    padding-right : 50px;
}

.detail-title-service {
    padding-right : 35px;
}

small {
    padding : 0 103px;
}