/* 메인 컨테이너 */
.main-container {
    position: relative;
    background: white;
    color: black;
    background-color: white;
    width: 1130px;
    max-width: 1130px;
    margin : 0 auto;
    height: 1505px;
    padding: 100px 20px;
    font-family: sans-serif;
}

/* 프로필 */
.profile-box {
    width : 340px;
    height: 600px;
    float: left;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

/* 로그아웃 */
.user-logout {
	position: relative;
	top: 15px;
	left: 10px;
	color: white;
	font-weight: border;
}

.profile {
/*     position: fixed; */
    width : 340px;
    height: 450px;
    margin-left: 20px;
    background : #022c6c;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.mypage-profile {
    position: relative;
    top : 60px;
    left: 70px;
    border : 2px solid black;
    border-radius: 50%;
    width:100px;
    height: 100px;
    margin: 30px 50px;
    float: left;
}

.mypage-profile-img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.mypage-profile-text {
    position: relative;
    display: block;
    width: 220px;
    top: 40px;
    left: 58px;
    font-size: 1.3em;
    font-weight: bolder;
    color: white
}


.profile-img-change {
    position: relative;
    display : block;
    color : white;
    top: 120px;
    left: 90px;
    width: 160px;
    height: 25px;
    cursor: pointer; 
}

/* 마이페이지 메뉴 */
.menu-mypage {
    position: relative;
    left: 50px;
    width : 700px;
    height: 450px;
    padding : 0 20px;
    float: left;
}

.profile-image  {
	position: absolute;
}

.menu-box {
    border : 1px solid #ccc;
    width: 660px;
    height: 353px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.menu-box-text {
    color: black;
    font-size: 1.5em;
}

.menu-box-top {
    padding: 50px;
}

.menu-box-bottom {
    padding: 40px 50px;
}

.menu-box hr {
    width: 500px;
}

.menu-info {
    float: left;
    padding : 0 100px 0 140px;
}

.menu-info-board {
    float: left;
    padding : 0 85px 0 65px;
}

.menu-info-comment {
    float: left;
    padding : 0 100px 0 0;
}

.menu-icon {
    position: relative;
    left: 5px;
    width: 50px;
    height: 50px;
}

#info-text {
    position: relative;
    right: 25px;
}

#modify-text {
    position: relative;
    right: 25px;
}

#my-board {
    position: relative;
    right: 25px;
}

#my-logout {
    position: relative;
    right: 10x;
}

#info-remove {
    position: relative;
    right: 5px;
}

.menu-modify-detail {
	position: relative;
	right: 300px;
	display: block;
	width: 870px;
}

/* 개인 정보 조회 */
.info {
    position: relative;
    /* border : 1px solid black; */
    height: 500px;
    padding : 30px 60px;
}

.info-detail {
	position: relative;
    padding: 20px 20px 20px 190px;
}

.info-id {
    font-size : 20px;
    width: 100px;
}

.info-id-detail {
    position: relative;
    left: 100px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-pw {
    font-size : 20px;
    width: 100px;
}

.info-pw-detail {
    position: relative;
    left: 80px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-pwRe {
    font-size : 20px;
    width: 100px;
}

.info-pwRe-detail {
    position: relative;
    left: 35px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-name {
    font-size : 20px;
    width: 100px;
}

.info-name-detail {
    position: relative;
    left: 120px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-nickname {
    font-size : 20px;
    width: 100px;
}

.info-nickname-detail {
    position: relative;
    left: 100px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-email {
    font-size : 20px;
    width: 100px;
}

.info-email-detail {
    position: relative;
    left: 100px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-phone {
    font-size : 20px;
    width: 100px;
}

.info-phone-detail {
    position: relative;
    left: 100px;
    width: 220px;
    height: 30px;
    font-size : 20px;
}

.info-birth {
    font-size : 20px;
    width: 100px;
}

.info-birth-detail {
    position: relative;
    left: 80px;
    width: 220px;
    height: 30px;
    font-size : 20px;   
}

/* ********************** 닉네임 중복확인 버튼**********************  */

.btn-nickname.mini{
	position : absolute;
	right: 85px;
    padding: 4px 12px;  
    font-size: 12px;
}

.btn-nickname {
    position: absolute;
    right : 40px;
    text-decoration: none;
    color: #435334;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}

.btn-nickname.yellow {
    background: linear-gradient(rgba(240,210,100,1) 800%, rgba(229,201,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d264', endColorstr='#e5c960', GradientType=0 );
}

/* ********************** 이메일 중복확인 버튼**********************  */
.btn-email.mini{
    padding: 4px 12px;  
    right: 85px;
    font-size: 12px;
}

/* Gradient buttons */
.btn-email {
    position: absolute;
    right : 40px;
    text-decoration: none;
    color: #435334;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}

.btn-email.yellow {
    background: linear-gradient(rgba(240,210,100,1) 80%, rgba(229,201,96,1) 100%);
}

.btn-addr.yellow:active {background: #DBC05B;}

/* ********************** 수정 버튼**********************  */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #eaedf1;
    font-family: 'Lato', sans-serif;
}

.header {
    background: white;
    padding: 30px;
    text-align: center;
}


.color .red {
    background: #fa5a5a;
}

.content-3d {
    margin: 40px auto;
}

/* value */
/* 위치조정 */
.btn-container{
    width: 210px;
    border-radius: 4px;
    text-align: center;
    margin : 0 auto;
    /* margin-bottom: 40px; */
}

input[class*="btn"]{
    border: 0;
    width: 120px;
}

/* 3D Button */
.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 7px 30px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.btn-3d:active {
    top: 9px;
}

/* 3D button colors */
.btn-3d.red {
    background-color: #e74c3c;
    box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255, 255, 255, 0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0, 0, 0, 0.4),
        0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

/* 3D button active */
.btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}