@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

#container {
	background: #F2F2F2;
/* 	background: white; */
}


.main-container {
	position: relative;
    background: white;
/*     border : 1px solid black; */
    color: black;
/*     width: 1130px; */
    width: 100%;
/*     max-width: 1130px; */
    margin : 0 auto;
/*     padding: 100px 40px; */
    font-family: sans-serif;
}


.banner{
    width: 100%;
}

#main-banner{
    height: 400px;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#trip{
    width: 100%;
    margin: 0;
}

#in-trip{
    /* border: 1px solid #FF4F40; */
    max-width: 1130px;
    margin: 0 auto;
    padding: 100px 40px;
}

#event{
    width: 100%;
    margin: 200px 0;
}

#event-inner{
    height: 80px;
}

#review{ /* flex 컨테이너 */
    display: flex;  /* flex를 쓰기만 해도 안에 있는 div가 옆으로 배치됨 */
    flex-flow: row wrap;
    /* 아래 flex속성들을 한번에 쓴 것 */
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* height: 350px; */
    justify-content: space-between;
    align-items: stretch;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 40px;
 
}

#review-board-img{ /* flex 아이템 */
    /* height는 부모 div크기로 지정됨 */
}

#review-img{
    /* height: 200px; */
}
#review-board{ /* flex 아이템 */
    /* height는 부모 div크기로 지정됨 */
    /* width: 500px; */
    /* margin-left: 150px; */
    /* width: 800px */
}

table{
    width: 100%
}

.bottom_line{
    border-bottom: 1px solid black;
    padding: 18px 0;
}

#more{
    text-align: right;
}

#notice{
/* 	background: white; 
	max-width: 1130px;
	margin: 200px auto;
	padding: 0 40px;
}

#notice-img{
    height: 150px;
}

#table-img{
    padding: 0;
}

h3{
    margin-bottom: 0;
}

.no-bottom-line{
    border-bottom: none;
}

footer{
	position: relative;
	height: 300px;
}

@-webkit-keyframes loading {
	0% {
	background-position: 0;
}
100% {
ba	ckground-position: -150px;
}

.color-bar {
	-webkit-animation: loading 0s infinite linear;
	animation: loading 1s infinite linear(0 0%, 0.62 5.15%);
	/* loading 1s infinite linear(0.82 47.79%, 1.32 50%) */
	background: f09d1f;
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	/* IE10+ */
	background: linear-gradient(to right, #ffff98 0%, #faed73 20%, #ffbf5e 20%, #ff8e7d 20%, #ff6b54 20%, #fe5035 40%, #db465a 40%, #dc0d29 60%, #ab1226 60%, #df3cc7 60%, #8422ce 80%, #2069b2 80%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09d1f", endColorstr="#208488",GradientType=1 );
	/* IE6-9 */
	height: 5px;
	margin: 0 auto;
	/* max-width: 150px; */
}