@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.container{
	width:100%;
    background: #F2F2F2;
    font-family: 'TheJamsil5Bold';
}

.center{
	max-width:1130px;
	margin : 0 auto;
	padding-right : 40px;
	padding-left : 40px;
	padding-top : 100px;
	padding-bottom : 150px;
	background : white;
}

.title{
	font-size:40px;
	padding-bottom:20px;
	padding-left:20px;
}

.golist{
	background-color:#FFFACD;
	border : 1px black solid;
	margin-left:930px;
	width:90px;
	height:40px;
	margin-right:30px;
	margin-bottom:10px;
}

.revicontent{
	padding:40px;
    height:300px;
    font-size:20px;
}

.modibu{
	background-color:#FFFACD;
	border : 1px black solid;
	width:90px;
	height:40px;
}

.delbu{
	background-color:#FFFACD;
	border : 1px black solid;
	margin-left:10px;
	width:90px;
	height:40px;
}
.button-1{
	margin-left:820px;
	margin-bottom:10px;
}

.replymodi{
	background-color:#FFFACD;
	border : 1px black solid;
	width:90px;
	height:40px;
}
.textre{
	margin-top :20px;
	resize:none;
	margin-left:30px;
}

.texbu{
	margin: 0 auto;
}


.replyta{
	width:900px;
}

td, tr{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	margin-right:50px;
}
.mo{
	margin-right:20px;
}

.reimg{
	max-width:900px;
	max-height:900px;
	margin-top:20px;
	margin-left:20px;
}
