@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container{
	width:100%;
    background : #F2F2F2;
    font-family: 'TheJamsil5Bold';
}

.center{
	max-width:1130px;
	margin : 0 auto;
	padding-right : 40px;
	padding-left : 40px;
	padding-top : 100px;
	padding-bottom : 150px;
	background : white;
}

.reviewtitle{
	font-size:40px;
	padding-bottom:20px;
}

#buttonr{
	float:right;
	width:90px;
	height:40px;
	margin-right:80px;
	margin-rop:10px;
}

.mainsearch{
	margin-left:720px;
	padding-bottom:15px;
}

.choicetext{
	height:30px;
	width: 80px;
}

.clicksearch{
	height:30px;
	width: 50px;
}

.searchtext{
	height:30px;
	width: 150px;
}

.reviewtable{
	width:1000px;
	margin-right:40px;
	margin-left:40px;
}

.paging{
	text-align:center;
	margin-top:30px;
	font-size:18px;
}

td, th{
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
	
}