@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container{
	width:100%;
    background : #F2F2F2;
}

.center{
	max-width:1130px;
	margin : 0 auto;
	padding-right : 40px;
	padding-left : 40px;
	padding-top : 100px;
	padding-bottom : 150px;
	background : white;
	border-style:solid;
	border-color:red;
}