<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BannerMapper">
  
  	<resultMap type="Banner" id="BannerResultMap">
		<id property="bannerNo"             	column="BANNER_NO" />
		<result property="bannerName" 	    	column="BANNER_NAME" />
		<result property="bannerArea"    		column="BANNER_AREA" />
		<result property="bannerSize"     		column="BANNER_SIZE" />
		<result property="bannerFileName"   	column="BANNER_FILENAME" />
		<result property="bannerFilePath" 		column="BANNER_FILEPATH" />
		<result property="bannerFileLength"   	column="BANNER_FILELENTH" />
		<result property="linkUrl" 				column="LINK_URL" />
		<result property="bStatusYn" 	 		column="B_STATUS_YN" />
		<result property="bAdminId" 	  		column="B_ADMIN_ID" />
	</resultMap>
 
 
  	 <!--배너등록 -->
 	 <insert id="insertBanner">
	  	INSERT INTO BANNER VALUES(SEQ_BANNER_NO.NEXTVAL, #{bannerName }, #{bannerArea }, 
	  	#{bannerSize }, #{bannerFileName }, #{bannerFilePath }, #{bannerFileLength }, 
	  	#{linkUrl }, DEFAULT, #{bAdminId })
	 </insert>
	 
	 <!--배너삭제 -->
    <delete id="deleteBanner">
  		DELETE FROM BANNER WHERE BANNER_NO = #{bannerNo }
    </delete>
  
  
  	<!--전체배너갯수-->
  	<select id="selectListCount" resultType="_int">
		SELECT COUNT (*) FROM BANNER WHERE B_STATUS_YN = 'Y'
	</select>
	
	<!--배너전체조회 -->
	<select id="selectBannerList" resultMap="BannerResultMap">
		SELECT * FROM BANNER WHERE B_STATUS_YN = 'Y' ORDER BY BANNER_NO DESC
	</select>
	
	<!--메인배너-->
	<select id="selectbBannerList" resultMap="BannerResultMap">
		SELECT * FROM BANNER WHERE B_STATUS_YN = 'Y' AND BANNER_AREA = 'main_b' ORDER BY BANNER_NO DESC
	</select>
	
	<!--트립배너 -->
	<select id="selecttBannerList" resultMap="BannerResultMap">
		SELECT * FROM BANNER WHERE B_STATUS_YN = 'Y' AND BANNER_AREA = 'trip_b' ORDER BY BANNER_NO DESC
	</select>
	
  	
  
  </mapper>
