<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProfileMapper">

	<!-- 프로필 등록 -->
	<insert id="insertProfile">
		INSERT INTO PROFILE_TBL VALUES(#{ pUserId }, #{ profileImgName }, #{ profileImgRename }, #{ profileImgPath }, #{ profileImgLength })
	</insert>
	
</mapper>
  