@charset "UTF-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
p, b, div span{
/* 	font-family: 'HakgyoansimWoojuR'; */
	font-family: 'TheJamsil5Bold';
}
b{
	display: inline-block;
	width: 70px;
	margin-right: 10px;
}
#reply{
	padding: 10px 0;
}
*{
    padding: 0;
    margin: 0;
}
textarea{
    resize: none;
    width: 100%;
    margin: 20px 0;
}
span{
    text-align: center;
}
#main-container{
    max-width: 1130px;
    margin: 0 auto;
    padding: 100px 40px;
    background-color: white;
}
#title{
    margin-top: 40px;
    text-align: center;
}
#review-btn{
    border-bottom : 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
#semi-info{
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
#summer-note{
    margin-bottom: 20px;
}
#button{
    display: flex;
    justify-content: right;
    margin-bottom: 100px;
}
button{
    width: 60px; 
    height: 30px;
}
