@charset "UTF-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
#form{
    max-width: 1130px;
    margin: 0 auto;
    padding: 100px 40px;
    background-color: white;
}
span{
	font-family: 'TheJamsil5Bold';
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
 /* float: left; */
}
ul label {
    width: 100px;
    text-align: left;
    float: left;
}
.insert-li {
    margin: 15px 30px;
}
input{
    width: 70%;
}
#title-div{
    border-bottom: 1px solid black;
}
#insert-div{
	display:flex;
	margin:20px 0 20px 20px;
}
#insert-span{
	line-height: 30px;
    margin-right: 10px;
}
#logo-img{
    width: 30px;
    height: 30px;
}
#tarea{
	width: 70%;
	height: 200px;
}
form{
    max-width: 1130px;
    margin: 0 auto;
}
#btn-div{
	display: flex;
	justify-content: center;
}
#btnbtn{
	width: 60px;
	height: 30px;
}
