@charset "UTF-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
 /* float: left; */
}
ul label {
    width: 100px;
    text-align: left;
    float: left;
}
li {
    margin: 15px 30px;
}
input{
    width: 70%;
}
#form{
    max-width: 1130px;
    margin: 0 auto;
}
#title{
    border-bottom: 1px solid black;
}
img{
    width: 30px;
    height: 30px;
}
form{
    max-width: 1130px;
    margin: 0 auto;
}
