<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.bangbang.user.domain.User" alias="User"/>
		<typeAlias type="kr.co.bangbang.admin.domain.Admin" alias="Admin"/>
	  	<typeAlias type="kr.co.bangbang.banner.domain.Banner" alias="Banner"/>
		<typeAlias type="kr.co.bangbang.trip.domain.Trip" alias="Trip"/>
		<typeAlias type="kr.co.bangbang.trip.domain.TReply" alias="TReply"/>
		<typeAlias type="kr.co.bangbang.notice.domain.Notice" alias="Notice"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
	  	<mapper resource="mappers/banner-mapper.xml"/>
		<mapper resource="mappers/trip-mapper.xml"/>
		<mapper resource="mappers/treply-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers>
</configuration>