@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


.container{
	width:100%;
    background: #F2F2F2;
    font-family: 'TheJamsil5Bold';
}

.center{
	max-width:1130px;
	margin : 0 auto;
	padding-right : 40px;
	padding-left : 40px;
	padding-top : 100px;
	padding-bottom : 150px;
	background : white;
}

.noticesubject{
	font-size:40px;
	padding-bottom:20px;
	padding-left:20px;
}

.modibu{
	background-color:#FFFACD;
	border : 1px black solid;
	width:90px;
	height:40px;
	margin-left:925px;
	margin-bottom:10px;
}

.noticontent{
	padding:40px;
    font-size:20px;
}

.golist{
	background-color:#FFFACD;
	border : 1px black solid;
	margin-top:10px;
	float:right;
	width:90px;
	height:40px;
	margin-right:30px;
}

.showcontent{
	width:100px;
	display:block;
	font-family: 'TheJamsil5Bold';
}

textarea{
	font-family: inherit;
	font-family: 'TheJamsil5Bold';
}
