@charset "UTF-8";

.header{
	width : 100%
	height : 50px;
	background-color:yellowgreen;
}
.footer{
	width : 100%;
	height : 150px;
	background-color:yellowgreen;
}
.contatiner{
	width : 100%
	margin : 0 auto;
	padding-bottom : 50px;
	padding-top : 50px;
	backgorund : linear-gradient(to bottom, #FFFACD, #E3BCBC);
}